/* ---------- VARIABLES ---------- */


html {
  --black: #342a28;
  --yellow: #faa105;
  --grey: #847974;
  --red: #d15218;
  --blue: #41b2e6;
  --white: #fff6eb;  
}

#black {
  color: var(--black);
}

#yellow {
  color: var(--yellow);
}

#red {
  color: var(--red);
}

#blue {
  color: var(--blue);
}

#white {
  color: var(--white);
}

#redH:hover {
  color: var(--red);
}

#yellowH:hover {
  color: var(--yellow);
}

#blueH:hover {
  color: var(--blue);
}




/* ---------- GENERAL ---------- */


a {
  text-decoration: none;
}

body {
  background-color: var(--white);
  min-width: 400px;
  min-height: 250px;
}

#footer {
  font-family: 'Electrolize', sans-serif;
  font-size: 0.8em;
  font-weight: 100;
  color: var(--grey);
  margin-left: calc(50% - 88px);
}

h1 {
  font-size: 3.2em;
  font-weight: 100;
  font-family: 'Black Ops One', cursive;
  padding-right: 0.2em;
  cursor: pointer;
}




/* ---------- SPLASH ---------- */


.splashLogo {
  font-size: 10vw;
  font-weight: 100;
  font-family: 'Black Ops One', cursive;
  margin: 20vh 0 0 0;
}

h3.Smenu {
  font-size: 2vw;
  font-weight: 900;
  color: var(--black);
  font-family: 'Electrolize', sans-serif;
  margin-left: 0.1em;
  cursor: pointer;
}




/* ---------- HEADER ---------- */


h3.menu {
  font-size: 1em;
  font-weight: 900;
  font-family: 'Electrolize', sans-serif;
  margin-left: 0.1em;
  cursor: pointer; 
}

#header {
  padding: 0.5em 4em 0.5em 4em;
  position: static;
}




/* ---------- FLEX ---------- */


.containerA {
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
  justify-content: space-between;
}

.containerS {
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
  justify-content: center;
  margin: 0;
}




/* ---------- GALLERY ---------- */


#gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4em 0 4em;
}

div.thumb {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
  text-decoration: none;
  color: black;
}

div.thumb:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  div.thumb {
    width: calc(20% - 6.4px);
  }
  
  div.thumb:nth-of-type(2n) {
    margin-right: 8px;
  }
  
  div.thumb:nth-of-type(5n) {
    margin-right: 0;
  }
}

div.thumb:hover img.thumb {
  opacity: 0.8;
  cursor: pointer;
}

figure.thumb {
  margin: 0;
  overflow: hidden;
}

img.thumb {
  max-width: 100%;
  height: auto;
  display: block;
  background: var(--white);
}




/* ---------- TEMP ---------- */

#coming {
  color: darkorange;
  font-size: 6em;
  font-family: 'Black Ops One', cursive;
}

